body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.controls {
  display: flex;
  width: 960px;
  justify-content: space-evenly;
}

.controls label {
  padding: 0 5px;
}

.legend {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: stretch;
  grid-gap: 2px;
  position: absolute;
  left: 1000px;
}

.legend dd {
  margin-left: 0;
}